{# Plantilla de la aplicacion #}
{% extends 'base.html.twig' %}
{# Titulo #}
{% block title %}Fixture
{% endblock %}
{# Plantilla contenido #}
{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3">Fixture</h1>
    <div class="row">
        <div class="col-nd 8">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col">Matches played</th>
                    <th scope="col">Matches won</th>
                    <th scope="col">Matches lost</th>
                    <th scope="col">Matches tied</th>
                    <th scope="col">Goals scored</th>
                    <th scope="col">Goals against</th>
                    <th scope="col">Difference</th>
                    <tr>
                </thead>
                <tbody>
                    {% for fixture in fixture %}
                    <tr>
                    <td>{{fixture.name}}</td>
                    <td>{{fixture.points}}</td>
                    <td>{{fixture.matches_played}}</td>
                    <td>{{fixture.matches_won}}</td>
                    <td>{{fixture.matches_lost}}</td>
                    <td>{{fixture.matches_drawn}}</td>
                    <td>{{fixture.goals_scored}}</td>
                    <td>{{fixture.goals_against}}</td>
                    <td>{{fixture.goal_difference}}</td>
                   {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}